In [1]:
import os
import tweepy as tw

In [8]:
accesstoken='XXXXXXXXXXX'
accesstokensecret='XXXXXXXXXXX'
apikey='XXXXXXXXXXX'
apisecretkey='XXXXXXXXXXX'

In [9]:
auth = tw.OAuthHandler(apikey, apisecretkey)
auth.set_access_token(accesstoken, accesstokensecret)
api = tw.API(auth, wait_on_rate_limit=True)

In [10]:
search_words = "#coronavirus"
date_since = "2020-05-10"

In [11]:
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(1000)

In [12]:
tweets

In [13]:
tweet_details = [[tweet.geo, tweet.text,tweet.user.screen_name, tweet.user.location] for tweet in tweets]
#tweet_details

In [16]:
tweet_details[:10]

[[None,
  'RT @RealCandaceO: Things I predicted that everyone was outraged about before it turned out to be true:\n\n-#Metoo was a political witch-hunt‚Ä¶',
  'LarryCo07944899',
  'Ohio, USA'],
 [None,
  'RT @RealCandaceO: Things I predicted that everyone was outraged about before it turned out to be true:\n\n-#Metoo was a political witch-hunt‚Ä¶',
  'redheadedeagle2',
  'Planet Earth  (perhaps . . .)'],
 [None,
  'RT @frictionfilms: THANK YOU @KingsCrossAcad1 primary school for the food box and puzzle‚ù§Ô∏è‚ù§Ô∏è little one happy! u have done an amazing job s‚Ä¶',
  'katypotts',
  'Islington, London'],
 [None,
  'RT @huwbbc: This message of anger and despair from a senior doctor in South Wales üè¥\U000e0067\U000e0062\U000e0077\U000e006c\U000e0073\U000e007f #lockdownuk #coronavirus @PublicHealthW https://t‚Ä¶',
  'drdtyler',
  'bristol'],
 [None,
  'RT @BorisJohnson: As we start to recover from #coronavirus, we all need to play our part by following the rules.\n\nThis is how to #StayAlert‚Ä¶',
  'duncanvlengland',
  ''],
 [None,
  'RT @NYGovCuomo: Holding a briefing with updates on #Coronavirus. Watch Live: https://t.co/59p4ALEbhQ',
  'The_Kiefers',
  'Baden-W√ºrttemberg, Deutschland'],
 [None,
  '@GOPChairwoman @larry_kudlow The only place @potus created a massive health &amp; safety infrastructure to deal with‚Ä¶ https://t.co/9soHCO66Gm',
  'smartlyjoan',
  'Ruby Red ‚ô•Ô∏èLand, USA'],
 [None,
  'UPDATE: @NYGovCuomo said the number of hospitalizations, intubations, and new #Covid19 cases continue to trend down‚Ä¶ https://t.co/LAzEOYbRwF',
  'QuickTake',
  ''],
 [None,
  'Stay Alert üö® Control The Virus ü¶† Saves Lives üë∂ #newslogan #coronavirus',
  'RoyalDutchiie',
  'London, England'],
 [None,
  "RT @FalunInfoCtr: Untold moms in #China are alone today--and not because of #coronavirus. They were jailed for their faith. \n\nIris Lu's mom‚Ä¶",
  'jenniferatntd',
  'New York, USA ÁæéÂõΩÁ∫ΩÁ∫¶']]

In [1]:
import pandas as pd

In [19]:
tweet_df = pd.DataFrame(data=tweet_details, columns=['geo','text','user', "location"])

In [20]:
tweet_df.head()

,geo,text,user,location
0,None,RT @RealCandaceO: Things I predicted that ever...,LarryCo07944899,"Ohio, USA"
1,None,RT @RealCandaceO: Things I predicted that ever...,redheadedeagle2,Planet Earth (perhaps . . .)
2,None,RT @frictionfilms: THANK YOU @KingsCrossAcad1 ...,katypotts,"Islington, London"
3,None,RT @huwbbc: This message of anger and despair ...,drdtyler,bristol
4,None,RT @BorisJohnson: As we start to recover from ...,duncanvlengland,

In [22]:
pd.set_option('max_colwidth', 800)

tweet_df.head()

,geo,text,user,location
0,None,RT @RealCandaceO: Things I predicted that everyone was outraged about before it turned out to be true:\n\n-#Metoo was a political witch-hunt‚Ä¶,LarryCo07944899,"Ohio, USA"
1,None,RT @RealCandaceO: Things I predicted that everyone was outraged about before it turned out to be true:\n\n-#Metoo was a political witch-hunt‚Ä¶,redheadedeagle2,Planet Earth (perhaps . . .)
2,None,RT @frictionfilms: THANK YOU @KingsCrossAcad1 primary school for the food box and puzzle‚ù§Ô∏è‚ù§Ô∏è little one happy! u have done an amazing job s‚Ä¶,katypotts,"Islington, London"
3,None,RT @huwbbc: This message of anger and despair from a senior doctor in South Wales üè¥Û†ÅßÛ†Å¢Û†Å∑Û†Å¨Û†Å≥Û†Åø #lockdownuk #coronavirus @PublicHealthW https://t‚Ä¶,drdtyler,bristol
4,None,"RT @BorisJohnson: As we start to recover from #coronavirus, we all need to play our part by following the rules.\n\nThis is how to #StayAlert‚Ä¶",duncanvlengland,

In [23]:
tweet_df.user.value_counts()

codedailybot      6
HRefemena         5
SKORPYONQUEEN     5
DjShocker08       4
XiangchengDing    4
                 ..
taxplan4U         1
donna_pfohl       1
lord_glenmore     1
W7VOA             1
mckeelance3       1
Name: user, Length: 923, dtype: int64

In [25]:
tweet_df.location.value_counts()

                        336
United States            18
London                   10
London, England           8
United Kingdom            6
                       ...
Richardson, TX            1
Massachusetts, USA        1
Santa Fe, New Mexico      1
Mexico, city              1
Muskoka                   1
Name: location, Length: 495, dtype: int64

In [26]:
import re
def clean_tweets(text):
    text = re.sub("RT @[\w]*:","",text)
    text = re.sub("@[\w]*","",text)
    text = re.sub("https?://[A-Za-z0-9./]*","",text)
    text = re.sub("\n","",text)
    return text

In [27]:
tweet_df['text']=tweet_df['text'].apply(lambda x: clean_tweets(x))

In [28]:
tweet_df.head(10)

,geo,text,user,location
0,None,Things I predicted that everyone was outraged about before it turned out to be true:-#Metoo was a political witch-hunt‚Ä¶,LarryCo07944899,"Ohio, USA"
1,None,Things I predicted that everyone was outraged about before it turned out to be true:-#Metoo was a political witch-hunt‚Ä¶,redheadedeagle2,Planet Earth (perhaps . . .)
2,None,THANK YOU primary school for the food box and puzzle‚ù§Ô∏è‚ù§Ô∏è little one happy! u have done an amazing job s‚Ä¶,katypotts,"Islington, London"
3,None,This message of anger and despair from a senior doctor in South Wales üè¥Û†ÅßÛ†Å¢Û†Å∑Û†Å¨Û†Å≥Û†Åø #lockdownuk #coronavirus ‚Ä¶,drdtyler,bristol
4,None,"As we start to recover from #coronavirus, we all need to play our part by following the rules.This is how to #StayAlert‚Ä¶",duncanvlengland,
5,None,Holding a briefing with updates on #Coronavirus. Watch Live:,The_Kiefers,"Baden-W√ºrttemberg, Deutschland"
6,None,The only place created a massive health &amp; safety infrastructure to deal with‚Ä¶,smartlyjoan,"Ruby Red ‚ô•Ô∏èLand, USA"
7,None,"UPDATE: said the number of hospitalizations, intubations, and new #Covid19 cases continue to trend down‚Ä¶",QuickTake,
8,None,Stay Alert üö® Control The Virus ü¶† Saves Lives üë∂ #newslogan #coronavirus,RoyalDutchiie,"London, England"
9,None,Untold moms in #China are alone today--and not because of #coronavirus. They were jailed for their faith. Iris Lu's mom‚Ä¶,jenniferatntd,"New York, USA ÁæéÂõΩÁ∫ΩÁ∫¶"

In [36]:
tweet_df.to_csv('tweets.csv')

In [2]:
tweet_df=pd.read_csv('tweets.csv')

In [6]:
tweet_df.drop('Unnamed: 0',axis=1,inplace=True)

In [7]:
tweet_df.head()

,geo,text,user,location
0,NaN,Things I predicted that everyone was outraged...,LarryCo07944899,"Ohio, USA"
1,NaN,Things I predicted that everyone was outraged...,redheadedeagle2,Planet Earth (perhaps . . .)
2,NaN,THANK YOU primary school for the food box an...,katypotts,"Islington, London"
3,NaN,This message of anger and despair from a seni...,drdtyler,bristol
4,NaN,"As we start to recover from #coronavirus, we ...",duncanvlengland,NaN

In [8]:
import spacy
spacy.load("en_core_web_sm")
  
nlp = spacy.load('en_core_web_sm')

In [ ]:
tweet_df['text'].apply(lambda x: [print("\tText : {}, Entity : {}".format(ent.text, ent.label_)) 
                                  if (not ent.text.startswith('#')) else ""  for ent in nlp(x).ents])

In [10]:
tweet_df['entities']=tweet_df['text'].apply(lambda x: [(ent.text, ent.label_) 
                                                       if (not ent.text.startswith('#')) else "" for ent in nlp(x).ents])

In [18]:
tweet_df.head(20)

,geo,text,user,location,entities,sentiment
0,NaN,Things I predicted that everyone was outraged...,LarryCo07944899,"Ohio, USA",[],"{'neg': 0.179, 'neu': 0.821, 'pos': 0.0, 'comp..."
1,NaN,Things I predicted that everyone was outraged...,redheadedeagle2,Planet Earth (perhaps . . .),[],"{'neg': 0.179, 'neu': 0.821, 'pos': 0.0, 'comp..."
2,NaN,THANK YOU primary school for the food box an...,katypotts,"Islington, London","[(‚ù§, CARDINAL), (‚ù§, CARDINAL), (one, CARDINAL)]","{'neg': 0.0, 'neu': 0.598, 'pos': 0.402, 'comp..."
3,NaN,This message of anger and despair from a seni...,drdtyler,bristol,"[(South Wales, GPE), , ]","{'neg': 0.316, 'neu': 0.684, 'pos': 0.0, 'comp..."
4,NaN,"As we start to recover from #coronavirus, we ...",duncanvlengland,NaN,[],"{'neg': 0.0, 'neu': 0.897, 'pos': 0.103, 'comp..."
5,NaN,Holding a briefing with updates on #Coronavir...,The_Kiefers,"Baden-W√ºrttemberg, Deutschland",[],"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
6,NaN,The only place created a massive health &am...,smartlyjoan,"Ruby Red ‚ô•Ô∏èLand, USA",[],"{'neg': 0.0, 'neu': 0.676, 'pos': 0.324, 'comp..."
7,NaN,"UPDATE: said the number of hospitalizations, ...",QuickTake,NaN,"[(Covid19, MONEY)]","{'neg': 0.0, 'neu': 0.915, 'pos': 0.085, 'comp..."
8,NaN,Stay Alert üö® Control The Virus ü¶† Saves Lives üë∂...,RoyalDutchiie,"London, England","[(Stay Alert, PERSON), ]","{'neg': 0.0, 'neu': 0.784, 'pos': 0.216, 'comp..."
9,NaN,Untold moms in #China are alone today--and no...,jenniferatntd,"New York, USA ÁæéÂõΩÁ∫ΩÁ∫¶","[(China, GPE), (today, DATE), (Iris Lu's, PERS...","{'neg': 0.208, 'neu': 0.68, 'pos': 0.112, 'com..."
10,NaN,FDA approves first at-home saliva collection ...,CitizenBot,Europe,"[(FDA, ORG), (first, ORDINAL)]","{'neg': 0.0, 'neu': 0.847, 'pos': 0.153, 'comp..."
11,NaN,USA reports 394 new cases and 18 new deaths br...,kr3at,NaN,"[(USA, GPE), (394, CARDINAL), (18, CARDINAL), ...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
12,NaN,"As we start to recover from #coronavirus, we ...",haighdavid,United Kingdom,[],"{'neg': 0.0, 'neu': 0.897, 'pos': 0.103, 'comp..."
13,NaN,More 666 ‚Äòcoincidences‚Äô associated with the #...,filnj,"Thorofare, NJ","[(666, CARDINAL), (Corona, GPE), (666Wuhan, CA...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
14,NaN,CHINA: Anhui Dog Market back in business. Onl...,crystal78243104,NaN,"[(Anhui, GPE)]","{'neg': 0.0, 'neu': 0.88, 'pos': 0.12, 'compou..."
15,NaN,The death toll from the #coronavirus is alre...,NShrubs,mostly in Seattle,"[(more than 6X, CARDINAL), (Trump, PERSON)]","{'neg': 0.302, 'neu': 0.698, 'pos': 0.0, 'comp..."
16,NaN,Things I predicted that everyone was outraged...,AnalAlSr,NaN,[],"{'neg': 0.179, 'neu': 0.821, 'pos': 0.0, 'comp..."
17,NaN,The #BodyBagPresident says he‚Äôs getting great...,kle317,"Chicago, IL","[(Obama‚Äôs, ORG)]","{'neg': 0.0, 'neu': 0.806, 'pos': 0.194, 'comp..."
18,NaN,"As we start to recover from #coronavirus, we ...",NikkiHayes1969,"Bristol, England",[],"{'neg': 0.0, 'neu': 0.897, 'pos': 0.103, 'comp..."
19,NaN,"The ""Justifying fascism"" cycle#Corona #Corona...",thewheel5950,canadaman2019.blogspot.com,"[, (CoronaHoax #FakeCrisis #FakePandemic #, PR...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [13]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [14]:
sid = SentimentIntensityAnalyzer()

In [15]:
tweet_df['sentiment']=tweet_df['text'].apply(lambda x: sid.polarity_scores(x))

In [16]:
tweet_df.head(10)

,geo,text,user,location,entities,sentiment
0,NaN,Things I predicted that everyone was outraged...,LarryCo07944899,"Ohio, USA",[],"{'neg': 0.179, 'neu': 0.821, 'pos': 0.0, 'comp..."
1,NaN,Things I predicted that everyone was outraged...,redheadedeagle2,Planet Earth (perhaps . . .),[],"{'neg': 0.179, 'neu': 0.821, 'pos': 0.0, 'comp..."
2,NaN,THANK YOU primary school for the food box an...,katypotts,"Islington, London","[(‚ù§, CARDINAL), (‚ù§, CARDINAL), (one, CARDINAL)]","{'neg': 0.0, 'neu': 0.598, 'pos': 0.402, 'comp..."
3,NaN,This message of anger and despair from a seni...,drdtyler,bristol,"[(South Wales, GPE), , ]","{'neg': 0.316, 'neu': 0.684, 'pos': 0.0, 'comp..."
4,NaN,"As we start to recover from #coronavirus, we ...",duncanvlengland,NaN,[],"{'neg': 0.0, 'neu': 0.897, 'pos': 0.103, 'comp..."
5,NaN,Holding a briefing with updates on #Coronavir...,The_Kiefers,"Baden-W√ºrttemberg, Deutschland",[],"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
6,NaN,The only place created a massive health &am...,smartlyjoan,"Ruby Red ‚ô•Ô∏èLand, USA",[],"{'neg': 0.0, 'neu': 0.676, 'pos': 0.324, 'comp..."
7,NaN,"UPDATE: said the number of hospitalizations, ...",QuickTake,NaN,"[(Covid19, MONEY)]","{'neg': 0.0, 'neu': 0.915, 'pos': 0.085, 'comp..."
8,NaN,Stay Alert üö® Control The Virus ü¶† Saves Lives üë∂...,RoyalDutchiie,"London, England","[(Stay Alert, PERSON), ]","{'neg': 0.0, 'neu': 0.784, 'pos': 0.216, 'comp..."
9,NaN,Untold moms in #China are alone today--and no...,jenniferatntd,"New York, USA ÁæéÂõΩÁ∫ΩÁ∫¶","[(China, GPE), (today, DATE), (Iris Lu's, PERS...","{'neg': 0.208, 'neu': 0.68, 'pos': 0.112, 'com..."

In [17]:
tweet_df.shape

(1000, 6)

In [19]:
tweet_df.to_csv('tweets1.csv')